/* -------------------Header-------------------- */

.navbar{
    background-color: #cc0000
}

/*---------------------------- Main Page ---------------------*/
.welcome {
    background-color:  #76777b;
    color: white;
    padding: 0.5rem;
    text-align: center;
}
.learnMore{
    text-decoration: none;
    margin: 0.5rem !important;
    color: #cc0000
    
}
.date{
    margin: 1rem !important;
    padding:0.5rem;
    position:absolute;
    color: white;
    background: #cc0000;
    background-image: linear-gradient(to right, #cc0000 , #fe6100);
    align-items: center;
    border-radius: 5%;
}

.eventImg{
    width:100%;
    height:18rem; 
    object-fit: cover;
}

.eventPage .card{
    background-color: #f1f1f1;
    margin: 0;
}
.eventPage .card *{
    margin: 0;
}
.title{
    color: #fe9900
}


/*--------------------- Calendar Page Style -------------*/

.calendar  {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.calendarTitle{
    background-color:  #76777b;
    color: white;
    padding: 0.5rem;
    text-align: center;
}

/* ------------------About Page Style------------- */

.mission{
    background-color: #444444;
    opacity: 100%;
    color: white;
    padding: 3rem;
    margin: 0;
}

.redLine{
    /* border: 2rem solid rgb(255, 0, 0); */
    border: 2rem solid #76777b;
    opacity: 100%;
    margin:0
}


.team {
    width: 100%;
}

.card *  {
    text-align: center;
    margin: 0.2rem;
    
    
}
#card{
   
    background-color: #f1f1f1;
}
.boardTitle{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.board{
    padding-left: 10rem ;
    padding-right: 10rem ;
    background-color: #f1f1f1;
    text-align: center;
    
}

.board img {
    border-radius: 50%;
}
.row .card {
    border: none;
}
.position {
    text-decoration: underline;
}

/* ----------------Sign Up Page Style------------------ */
.signup  {
    position: relative;
    text-align: center;
    margin-top: 5rem;
}
.signupTitle{
    background-color:  #76777b;
    color: white;
    padding: 0.5rem;
    text-align: center;
}
